<style>
  .content {
    width: 466px;
    margin: 0 auto;
    background-color: #ffffff;
    border:
      1px solid #06c;
    border-radius: 8px;
    padding: 0 16px;
    color: #24292f;
    font-family: Arial, Helvetica, sans-serif;
  }

  .footer__text {
    text-align:
      center;
    color: grey;
  }
</style>

<div class='content'>
  {{! <p>Тема: Уведомление о смене электронной почты</p> }}

  <p>Здравствуйте.</p>

  <p>
    Мы хотели уведомить вас о том, что была применена попытка изменения вашей
    электронной почты на новую почту:
    <b>{{dp_newEmail}}</b>
  </p>

  <p>Если это были вы, то для продолжения пройдите по ссылке:</p>

  <p style='word-wrap: break-word;'>
    <a target='_blank' href='{{dp_url_confirm_change_email}}'>
      {{dp_url_confirm_change_email}}
    </a>
  </p>

  <p>Если вы не запрашивали изменение электронной почты, то кто-то имеет доступ к вашему аккауту.</p>
  <p>1. Закройте заявку на смену электронной почты по ссылке:</p>
  <p style='word-wrap: break-word;'>
    <a target='_blank' href='{{dp_url_delete_change_email}}'>
      {{dp_url_delete_change_email}}
    </a>
  </p>
  <p>2. Закройте все сеаны в аккаунте мобильного приложения.</p>
  <p>3. Смените пароль учётной записи. </p>
</div>

<p class='footer__text'>Уведомление о смене электронной почты</p>
