<style>
  .content {
    width: 466px;
    margin: 0 auto;
    background-color: #ffffff;
    border:
      1px solid #06c;
    border-radius: 8px;
    padding: 16px;
    color: #24292f;
    font-family: Arial, Helvetica, sans-serif;
  }

  table {
    width: 100%;
  }

  .items__table {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .items__td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
  }

  .items__totalSum {
    font-weight: bold;
    text-align: right;
  }

  .footer__text {
    text-align: center;
    color: grey;
  }
</style>

<div class='content'>
  <table class='items__table'>
    <caption><b>Таблица - Заявка</b></caption>
    <thead>
      <tr>
        <th class='items__td'>Картинка</th>
        <th class='items__td'>Наименование | модель</th>
        <th class='items__td'>Количество</th>
        <th class='items__td'>Цена, BYN <br/> (без НДС)</th>
        <th class='items__td'>Цена, BYN <br/> (с НДС)</th>
        <th class='items__td'>Сумма, BYN <br/> (c НДС)</th>
      </tr>
    </thead>
    <tbody>
      {{#each dp_items_orderItems}}
      <tr>
        <td class='items__td'><img width='48' src='{{this.dp_photoUrl}}' /></td>
        <td class='items__td'>{{this.dp_name}} | {{this.dp_model}}</td>
        <td class='items__td' align='right'>{{this.dp_count}}</td>
        <td class='items__td' align='right'>{{this.dp_costNoNds}}</td>
        <td class='items__td' align='right'>{{this.dp_costNds}}</td>
        <td class='items__td' align='right'>{{this.dp_sum}}</td>
      </tr>
      {{/each}}
      <tr>
        <td class='items__td items__totalSum' colspan='6'>Итого: Br {{this.dp_items_totalSum}}</td>
      </tr>
    </tbody>
  </table>

</div>

<p class='footer__text'>Заявка номенклатуры</p>

<p class='footer__text'>{{dp_org}}</p>