<style>
  table {
    width: 100%;
  }

  .p {
    font-weight: normal;
  }

  .items__table {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .items__td {
    border: 1px solid black;
    padding: 2px;
    font-weight: normal;
  }

  .footer__text {
    text-align: center;
    color: grey;
  }

  .img {
    max-width: 64px;
    max-height: 64px;
    width: auto;
    height: auto;
  }
</style>

<p class="p">Поставщик и его адрес:<br />
  <span style="margin-left: 1em"></span>{{APP__MY_ORGANIZATION}}<br />
  <span style="margin-left: 1em"></span>{{APP__MY_ADDRESS}}<br />
  <span style="margin-left: 1em"></span>УНП: {{APP__MY_UNP}}<br />
  <span style="margin-left: 1em"></span>Р/сч: {{APP__MY_CHECKING_ACCOUNT}} в {{APP__MY_BANK}} код {{APP__MY_BIK}}
</p>

<p class="p" style="text-align: center;">Счет от {{stringDate}}</p>

<p class="p">Закачик и его адрес:<br />
  <span style="margin-left: 1em"></span>{{user.dp_shortNameLegalEntity}}<br />
  <span style="margin-left: 1em"></span>{{user.dp_address}}<br />
  <span style="margin-left: 1em"></span>УНП: {{user.dp_unp}}<br />
  <span style="margin-left: 1em"></span>Р/сч: {{checkingAccount}} в {{bank}} код {{bik}}
</p>

<p class="p">Плательщик и его адрес:<br />
  <span style="margin-left: 1em"></span>{{user.dp_shortNameLegalEntity}}<br />
  <span style="margin-left: 1em"></span>{{user.dp_address}}<br />
  <span style="margin-left: 1em"></span>УНП: {{user.dp_unp}}<br />
  <span style="margin-left: 1em"></span>Р/сч: {{checkingAccount}} в {{bank}} код {{bik}}
</p>

<table class='items__table'>
  <thead>
    <tr>
      <th class='items__td'>№ <br /> п/п</th>
      <th class='items__td'>Картинка</th>
      <th class='items__td'>Товары (работы, услуги)</th>
      <th class='items__td'>Ед.<br /> изм.</th>
      <th class='items__td'>Цена,<br /> руб. коп.</th>
      <th class='items__td'>Коли-<br /> чество</th>
      <th class='items__td'>Сумма,<br /> руб. коп.</th>
      <th class='items__td'>Ставка НДС,<br /> %</th>
      <th class='items__td'>Сумма НДС,<br /> руб. коп.</th>
      <th class='items__td'>Всего с НДС,<br /> руб. коп.</th>
    </tr>
  </thead>
  <tbody>
    {{#each emailOrderItems}}
    <tr>
      <td class='items__td' style="text-align:right;">{{this.index}}</td>
      <td class='items__td' style="text-align:center;"><img width='64' src='{{this.dp_photoUrl}}' class="img" /></td>
      <td class='items__td'>{{this.dp_model}} <br /> {{this.dp_name}}</td>
      <td class='items__td' style="text-align:center;">{{this.dp_edIzm}}</td>
      <td class='items__td' style="text-align:right;">{{this.dp_cost}}</td>
      <td class='items__td' style="text-align:right;">{{this.dp_count}}</td>
      <td class='items__td' style="text-align:right;">{{this.dp_sum}}</td>
      <td class='items__td' style="text-align:right;">{{this.dp_stavkaNds}}</td>
      <td class='items__td' style="text-align:right;">{{this.dp_sumNds}}</td>
      <td class='items__td' style="text-align:right;">{{this.dp_totalSumNds}}</td>
    </tr>
    {{/each}}
    <tr>
      <td class='items__td' style="text-align:right; border-bottom: none!important; border-left: none!important; border: none!important;" colspan="5">Итого</td>
      <td class='items__td' style="text-align:right;">{{quantity}}</td>
      <td class='items__td' style="text-align:right;">{{countSum}}</td>
      <td class='items__td' style="text-align:center;">x</td>
      <td class='items__td' style="text-align:right;">{{countSumNds}}</td>
      <td class='items__td' style="text-align:right;">{{countSumTotal}}</td>
    </tr>
  </tbody>
</table>

<p class="p">Сумма НДС: {{sumNdsText}}</p>

<p class="p">Всего к оплате на сумму с НДС: {{sumTotalText}}</p>

<table>
  <tbody>
    <tr>
      <td style="text-align: right;">{{ APP__MY_CHECK_POSITION }}</td>
      <td style="border-bottom: 1px solid black;" width="100"></td>
      <td>{{ APP__MY_CHECK_INITIALS }} {{ APP__MY_CHECK_SURNAME }}</td>
    </tr>
  </tbody>
</table>